/*container*/
.container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    width: 800px;
    height: 400px;          
    background: inherit;     
    border-radius: 12px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                rgb(226, 240, 252) -3px -3px 6px 1px inset;
}

.card {
    display: flex;
    justify-content: left;
    text-indent: 20px;
    align-items: left;
    width: 700px;
    height: 200px;
    background: inherit;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card title {
    font-style: inherit;
    font-weight: 400px;
}

/*buttons*/




