/*container*/
.container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    width: 600px;
    height: 400px;          
    background: inherit;     
    border-radius: 12px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
                rgb(226, 240, 252) -3px -3px 6px 1px inset;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background: inherit;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin: 16px;
}



