/* Header */
.header {
  width: 90%;                      
  max-width: 700px;               
  margin: 0 auto;
  padding: 3rem 1rem;              
  background-color: inherit;
  animation: slide-down 2.0s forwards ease-out;
  box-sizing: border-box;
}

.header div {
  text-align: left;
}

/* Header slide-down animation */
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header text */
.header h1 {
    margin-top: 3rem;

    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 0.25rem;
    color: #333;
}

.header h2 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(76, 76, 76);
  
}

/* Container for navigation */
.box {
  width: 90%;
  max-width: 700px;
  margin: 1rem auto 0 auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;                 
  box-sizing: border-box;
}


/*iPhone disply*/
@media (max-width: 480px) {
  .header {
    width: 92%;
    padding: 2rem 0.8rem;
    text-align: center;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header h2 {
    font-size: 0.9rem;
  }

  .box {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .button {
    font-size: 0.85rem;
    padding: 8px 12px;
    margin: 4px 0;
  }
}

