/*navigation bar*/
.nav {
    width: 670px;      
    margin: auto; 
    display: flex;
    gap: 12px; 
    
    position: sticky;
    top: 10px;
      
    background-color: transparent; 
    animation: fade-in 2.5s forwards ease-in;
}

/*nav animation fadein*/
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: inherit; }
}

@media (max-width: 480px) {
    .nav {
      width: 88%;
      padding: 0.8rem;
      font-size: 1.2rem;
      gap: 15px;
    }
}

