body {
  height: 100%;
  margin: 0;
  background-color: rgb(245, 246, 247); 
  font-family: 'Poppins', sans-serif;
  cursor: url('./images/rest2-cat.svg'), auto;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;         
  justify-content: flex-start;   
  align-items: flex-start;        
  gap: 2rem;

  width: 80%;
  max-width: 680px;

  background: inherit;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  margin: 25px auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

/*section title*/
.section h1 {
  font-size: 23px;
  font-weight: 350;

  margin: 0;
  text-align: left;
}

/*inside p, time, company name*/
.section h2 {
  font-size: 16px;
  font-weight: 300;

  margin: 0;
  text-align: left;
}
/*descriptions*/
.section ul {
  font-size: 14px;
  font-weight: 280;

  margin: 0;
  text-align: left;

  list-style-type: circle;
}

/* inside the section */
.inner-section {
  font-size: 19px;
  font-weight: 330;
  line-height: 1.6;

  margin: 0;
  text-align: left;
  max-width: 100%;
  padding: 8px;
  color: rgb(76, 76, 76);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border-radius: 10px;
}

/* iPhone display */
@media (max-width: 480px) {
  .section {
    width: 88%;
    padding: 0.8rem;
  }

  .section h1 {
    font-size: 1.2rem;
  }

  .section p {
    font-size: 0.9rem;
  }
}
