@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Gravitas+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Days+One&family=Gravitas+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.days-one-regular {
  font-family: "Days One", sans-serif;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
}

.cabin-font {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/*fade in up animation*/
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {
  animation: 1s fadeInUp;
}

/*fade in left animation*/
@keyframes fadeToLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeLeft-animation {
  animation: 1s fadeToLeft ease forwards;
}

/*fade in right animation*/
@keyframes fadeToRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeRight-animation {
  animation: 1s fadeToRight ease forwards;
}

/*typing text effect animation*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid currentColor;
  width: 0;
  line-height: 1.2;
  animation:
    1s typing steps(20) forwards,
    blink 0.7s infinite;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

/*waves animation*/
.wave-wrapper {
  position: relative;
  height: 180px;
  overflow: hidden;
  background: transparent;
}

.wave {
  position: absolute;
  width: 300%;
  left: -100%;
  bottom: 0;
  height: 180px;
}

.wave-back {
  opacity: 0.55;
  animation: waveBack 4s ease-in-out infinite alternate;
}

.wave-front {
  animation: waveFront 3s ease-in-out infinite alternate;
}

@keyframes waveFront {
  from {
    transform: translateX(-10);
  }

  to {
    transform: translateX(-30%);
  }
}

@keyframes waveBack {
  from {
    transform: translateX(-30%);
  }

  to {
    transform: translateX(30%);
  }
}
